body {
    background-color: $maincolor;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
    color: rgb(124, 14, 134);
}

.productos {
    padding: 10px;

    .rollos {
        width: 300px;
        transition: all 3s ease;

        &:hover {
            transform: rotate(10deg);
        }
    }

    .foto-naranja {
        width: 300px;
        height: 300px;
        transition: all 3s ease;

        &:hover {
            transform: rotate(10deg);
        }
    }

    p {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        grid-area: parrafo;
    }
}

.sucursales {
    p {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
}

.subtitulo {
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario {
    @include flex-column-center;
}